/home/michaelmcpherson/src/app-ideas
/home/michaelmcpherson/src/Business stuff
/home/michaelmcpherson/src/dbScripter
/home/michaelmcpherson/src/DnDModuleGenerator
/home/michaelmcpherson/src/novel
/home/michaelmcpherson/src/realEstate
/home/michaelmcpherson/src/SFTP
/home/michaelmcpherson/src/writtenRecords
/home/michaelmcpherson/src/comnavnotes
/home/michaelmcpherson/src/mathSite

