https://github.com/mpmcpherson/airerpg.git
https://github.com/mpmcpherson/arin.git
https://github.com/mpmcpherson/businessStuff.git
https://github.com/mpmcpherson/clientSideBlogger.git
https://github.com/mpmcpherson/connectionMonitor.git
https://github.com/mpmcpherson/dbScripter.git
https://github.com/mpmcpherson/depthLastLinting.git
https://github.com/mpmcpherson/dialogTreeTool.git
https://github.com/mpmcpherson/die-roller.git
https://github.com/mpmcpherson/dndmodulegenerator.git
https://github.com/florinpop17/app-ideas.git
https://github.com/mpmcpherson/dbScripter/
https://github.com/mpmcpherson/geoIPconstruction.git
https://github.com/mpmcpherson/gitrecurse.git
https://github.com/mpmcpherson/homepage.git
https://github.com/mpmcpherson/home_rolled_JWT.git
https://github.com/mpmcpherson/hospitalityApplication.git
https://github.com/mpmcpherson/jubilant-octo-lamp.git
https://github.com/mpmcpherson/seeandsay.git
https://github.com/mpmcpherson/mathSite.git
https://github.com/mpmcpherson/missingpersons.git
https://github.com/mpmcpherson/NCIUS.git
https://github.com/mpmcpherson/uiFramework.git
https://github.com/mpmcpherson/novelstuff.git
https://github.com/mpmcpherson/graysensSpeech.git
https://github.com/mpmcpherson/phpInsecureREST.git
https://github.com/mpmcpherson/QueueOversightTool.git
https://github.com/mpmcpherson/webvacuum.git
https://github.com/mpmcpherson/roundTableRepo.git
https://github.com/mpmcpherson/scalaingUp.git
https://github.com/mpmcpherson/python_stuff.git
https://github.com/mpmcpherson/staggeredContact.git
https://github.com/mpmcpherson/steganograph.git
https://github.com/mpmcpherson/SublimeCommandOnSave.git
https://github.com/mpmcpherson/sublimeSettings.git
https://github.com/mpmcpherson/toolbox
https://github.com/mpmcpherson/vidscreening.git
https://github.com/mpmcpherson/phonebook.git
https://github.com/mpmcpherson/writtenRecords.git
